body {  
    background-color: orange;

}
.thead {
    background-color: aqua;
} 
.shakil {
    background-color: blue;
} 
.mezba {
    background-color: brown;
} 
.shohanur {
    background-color: blueviolet;
}