<!--<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <ul style="list-style-type: circle;">
        <li>ML</li> 
         <li>DL</li> 
          <li>DA</li> 
           <li>DJ</li>
    </ul> 

    <ol type="i">
        <li>ML</li> 
         <li>DL</li> 
          <li>DA</li> 
           <li>DJ</li>
    </ol>
    <p>This is about us platform  </p>

</body>
</html>--> 
{% extends 'common/base.html' %}  

 {% block title %} About {% endblock title %} 

 {% block alert %} This is about page {% endblock alert %}